absl-py==0.1.10
appdirs==1.4.3
arandr==0.1.9
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
beautifulsoup4==4.6.0
bleach==3.1.4
certifi==2018.1.18
chardet==3.0.4
cycler==0.10.0
enum34==1.1.6
funcsigs==1.0.2
futures==3.2.0
html5lib==1.0.1
idna==2.6
kiwisolver==1.0.1
lxml==4.2.1
Markdown==2.6.11
matplotlib==2.2.2
mechanize==0.3.6
mock==2.0.0
numpy==1.14.1
packaging==16.8
pbr==3.1.1
protobuf==3.5.1
pwquality==1.4.0
pycairo==1.16.3
pyparsing==2.2.0
python-dateutil==2.7.2
python-ternary==1.0.3
pytz==2018.4
requests==2.18.4
scipy==1.0.1
sexpdata==0.0.3
six==1.11.0
subprocess32==3.2.7
team==1.0
tensorflow-gpu==1.5.0
tensorflow-tensorboard==1.5.1
urllib3==1.22
virtualenv==15.1.0
webencodings==0.5.1
websocket-client==0.47.0
Werkzeug==0.14.1
